{% extends "layout.html" %}

{% block extra_head %}

<style>
.bw-progress {
  overflow: hidden;
  list-style: none;
}

.bw-progress .bw-item {
  display: block;
  float: left;
  margin-left:0px !important;
  height: 84px;
}
</style>

<script>
    $.fn.progress = function (data) {
	var $el = $(this).addClass('bw-progress');
  $el.each(function () {
  	$el.html('');
    var _totalValue = Object.values(data).reduce(function (a, b) {
    	return a + b;
    }, 0);
		for (var _color in data) {
    	var _value = data[_color];
      var _percentage = (100 * _value) / _totalValue;
      $el.append($('<li/>').addClass('bw-item')
      	.css('background-color', _color)
        .css('color', 'white')
        .css('width', _percentage + '%')
      )
    }
	});
};

</script>


{% endblock %}
{% block content %}
<div id="pad-wrapper">
    {% include "left_menu.html" %}

    <div class="col-md-8">
    <div class="panel">
        <div class="panel-heading"><strong>Bandwidth</strong></div>
    <div class="panel-body">
        <h5>Usage</h5>
        <ul id="myProgress1" style="padding-left: 0px;"></ul>

        <p>This account has {{account.bandwidth[1]}}
            bandwidth allocated  and used {{account.bandwidth[8]}} of it.
</p>
    </div>
        <div class="panel-body">
                        <h5>Potential bandwith allocation</h5>

        <ul id="myProgress2" style="padding-left: 0px;"></ul>

        <p>This account has {{account.bandwidth[1]}}
            bandwidth allocated. If the network was on the perfect condition, it could have {{account.bandwidth[7]}} more bandwith
            allocated.
</p>
    </div>

                <div class="panel-body">
                        <h5>Overall Scale</h5>

        <ul id="myProgress3" style="padding-left: 0px;"></ul>

        <p>This account has {{account.bandwidth[1]}}
            bandwidth allocated and used {{account.bandwidth[8]}}. If the network was on the perfect condition, it could have {{account.bandwidth[7]}} more bandwith
            allocated.
</p>
    </div>
    </div>
    </div>


    </div>

<script>
$('#myProgress1').progress({
  "#ff5050": {{account.bandwidth[4]}},
  "#33cc33": {{account.bandwidth[5]}}
});

$('#myProgress2').progress({
  "#33cc33": {{account.bandwidth[9]}},
  "#42b6f4": {{account.bandwidth[6]}}
});

$('#myProgress3').progress({
  "#ff5050": {{account.bandwidth[4]}},
  "#33cc33": {{account.bandwidth[5]}},
  "#42b6f4": {{account.bandwidth[6]}}
});
</script>
{% endblock %}