{% extends "layout.html" %}

{% block content %}
<div id="pad-wrapper">
{% include "left_menu.html" %}

    <div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Curation Rewards History</strong></div>
    <div class="panel-body">



        <div class="ibox-content">

           <div class="feed-activity-list">
                           <div class="feed-element">

                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Total RShares</th>
                          <th scope="col">Total SP</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{total_rshares}}</td>
                          <td>{{total_sp}}</td>
                        </tr>
                      </tbody>
                    </table>

                   </div>

                    <div class="feed-element">

                <div class="media-body ">

                    <h4>Checkpoints</h4>
                    {% for checkpoint in checkpoints %}
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Timestamp</th>
                          <th scope="col">Block ID</th>
                          <th scope="col">SubTotal</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{checkpoint.timestamp}}</td>
                            <td><a href="http://steemd.com/b/{{checkpoint.block}}">{{checkpoint.block}}</a></td>
                          <td>{{checkpoint.sub_total}} SP</td>
                        </tr>
                      </tbody>
                    </table>
                    {%endfor%}
                </div>
            </div>


            </div>
        </div>
    </div>
    </div>
    </div>
    </div>


{% endblock %}
