{% extends "layout.html" %}

{% block content %}
<div id="pad-wrapper">
  <div class="col-md-6" style="margin-left: auto; margin-right: auto; float:none;">
    <div class="panel panel-default">
    <div class="text-center">
    <img src='https://i.imgsafe.org/a7/a7b5faaf86.png' alt>
    <div class="text-center main-content"><strong>Steem Activity Feed</strong></div>
        <div id="search-box">
            <form method="GET">

              <label for="autocomplete"></label><input placeholder="Username" name="account" id="autocomplete">
            <button class="ui icon button massive" type="submit">
              Search
            </form>
            </button>
        </div>
    </div>

    </div>
  </div>
</div>


{% endblock %}

{%block extra_head %}
      <style>
      .ui-menu .ui-menu-item a{
        height:18px;
        font-size:14px;
      }
      </style>
      <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      <script>
         $(function() {
            $( "#autocomplete" ).autocomplete({
               minLength:2,
               delay:500,
               source: "http://autocomplete.steem.rocks/"
            });
         });
      </script>
{% endblock %}
