{% extends "layout.html" %}

{% block content %}
<div id="pad-wrapper">
    <div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading"><strong> <a href="/">Home</a></strong> | <strong>Profile</strong></div>
    <div class="panel-body no-padding">
        <div class="ibox-content no-padding border-left-right">
            <img alt="image" class="img-responsive" src="{{account.avatar}}">
        </div>
        <div class="ibox-content profile-content">
            <h3><strong>{{account.account_data.name}}</strong></h3>
            <p>Reputation point: {{account.reputation}}</p>
            <p><i class="fa fa-map-marker"></i> {{ account.location}}</p>
            {% if account.about %}
                <p>{{account.about}}</p>
            {% endif %}

          <table class="table">
            <thead>
              <tr>
                <th>Steem</th>
                <th>SBD</th>
                <th>Vesting Shares</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{account.balances.STEEM}}</td>
                <td>{{account.balances.SBD}}</td>
                <td>{{account.balances.VESTS}}</td>
              </tr>

            </tbody>
          </table>

            <h5><strong>Effective SP</strong></h5>
            <p>{{account.total_sp}} <i>= {{account.sp}} + {{account.received_sp}} - {{ account.delegated_sp}}</i></p>

            <h5><strong>Worth of a 100% VP upvote </strong></h5>
            <p>${{account.worth_sp}}</p>

            <h5><strong>Voting power</strong></h5>

            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{account.voting_power}}"
              aria-valuemin="0" aria-valuemax="100" style="width:{{account.voting_power}}%">
                 {{account.voting_power}}%
              </div>
            </div>

            <h5><strong>Account creation date</strong></h5>
            <p>{{account.creation_date}}</p>
            <br>
            <center><p><i>View on </i><a href="{{account.user_link}}">Steemit</a></p></center>

        </div><!-- /profile-content -->
    </div>
    </div>
    </div>

    <div class="col-md-8">
    <div class="panel panel-default">
    <div class="panel-heading"><strong>Activity</strong> | <strong><a href="/{{account.account_data.name}}/rewards">Potential Rewards</a></strong></div>
    <div class="panel-body">

        <div class="ibox-content">
           <div class="feed-activity-list">
                {% for operation in operations %}


                    <div class="feed-element">
                        <span  class="pull-left">-</span>

                <div class="media-body ">

                <small class="pull-right">
                    {% if operation.trx_id != "virtual operation" %}
                    <a href="http://steemd.com/tx/{{operation.tx_id}}" target="_blank"><span class="badge">{{operation.tx_id[0:8]}}...</span></a>
                    {%else%}
                    <span class="badge">virtual operation</span>
                    {%endif%}
                </small>
                {% if operation.type == 'vote' %}
                    {% autoescape false %}
                        {{ clean(operation.sub_operation.action)}}
                    {% endautoescape %}

                {% elif operation.type == 'comment' %}
                    {% if operation.sub_operation.is_a_post %}
                       {{ operation.actor }} authored a post. <a href="{{operation.sub_operation.link}}">{{operation.sub_operation.permlink}}.</a>
                    {% elif operation.sub_operation.is_a_comment %}
                        {{ operation.actor }} replied to <a href="{{operation.sub_operation.parent_link}}">{%if operation.sub_operation.parent_permlink%}{{operation.sub_operation.parent_permlink}}{%else %}{{operation.sub_operation.permlink}}{%endif%}.</a>
                    {% endif %}
                {% elif operation.type == 'custom_json' %}
                    {% if operation.sub_operation.type == 'follow' or operation.sub_operation.type == 'unfollow' or operation.sub_operation.type == 'mute' or operation.sub_operation.type == 'resteem' %}
                       {% autoescape false %}
                            {{ clean(operation.sub_operation.action)}}
                        {% endautoescape %}
                    {% endif %}

                {% elif operation.type == 'transfer' %}
                    {% autoescape false %}
                    {{ clean(operation.sub_operation.action)}}
                    {%if operation.sub_operation.memo %}
                        {%if operation.sub_operation.memo %}
                        <div class="well">
                            {{ clean(operation.sub_operation.public_memo)}}
                        </div>
                        {%endif%}
                    {%endif%}
                    {% endautoescape %}

                 {%elif operation.type == "delegate_vesting_shares" %}
                    {% autoescape false %}
                    {{ clean(operation.sub_operation.action)}}
                    {% endautoescape %}

                {% elif operation.type =="claim_reward_balance" %}
                    {{ operation.sub_operation.action }}

                 {%elif operation.type == "producer_reward" %}
                    {{ operation.sub_operation.action}}

                 {%elif operation.type == "feed_publish" %}
                    {{ operation.sub_operation.action}}
                {% elif operation.type == "account_witness_vote" %}
                    {% autoescape false %}
                        {{ clean(operation.sub_operation.action)}}
                    {% endautoescape %}

                 {% elif operation.type == "author_reward" or operation.type == "comment_reward"  or operation.type == "curation_reward" %}
                    {% autoescape false %}
                        {{ clean(operation.sub_operation.action)}}
                    {% endautoescape %}
                 {% elif operation.type == "delete_comment" %}
                    {{ operation.sub_operation.action}}
                 {% elif operation.type == "return_vesting_delegation" %}
                    {{ operation.sub_operation.action}}
                 {% elif operation.type == "account_create_with_delegation" %}
                    {% autoescape false %}
                    {{ clean(operation.sub_operation.action)}}
                    {% endautoescape %}
                {% endif %}

                {% if operation.created_at %}
                    <small class="text-muted">{{operation.created_at}}</small>
                {%endif%}
                </div>
            </div>


               {% endfor %}

            </div>
  <div class=pagination>
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a href="{{ url_for_other_page(page) }}">{{ page }}</a>
      {% else %}
        <strong>{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
  {%- endfor %}
  {% if pagination.has_next %}
    <a href="{{ url_for_other_page(pagination.page + 1)
      }}">Next &raquo;</a>
  {% endif %}
  </div>

        </div>
    </div>
    </div>
    </div>
    </div>


{% endblock %}
