{% extends "layout.html" %}

{% block content %}
<div id="pad-wrapper">
    {% include "left_menu.html" %}

    <div class="col-md-8">
    <div class="panel panel-default">
    <div class="panel-heading"><strong> <a href="/{{account.account_data.name}}">Activity</a></strong> | <strong>Potential Rewards</strong></div>
    <div class="panel-body">



        <div class="ibox-content">

           <div class="feed-activity-list">
                           <div class="feed-element">

                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Total Payout</th>
                          <th scope="col">Total SBD</th>
                          <th scope="col">Total SP</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>${{total_author_rewards}}</td>
                          <td>{{total_sbd}} SBD ({{total_usd}} USD)</td>
                          <td>{{total_sp}} SP</td>
                        </tr>
                      </tbody>
                    </table>

                   </div>
                {% for reward in rewards|sort(attribute='elapsed_seconds', reverse=True) %}

                    <div class="feed-element">

                <div class="media-body ">

                  <a href="https://steemit.com/{{reward.link}}">
                      {% if reward.is_main_post %}Post: {{reward.title[0:64]}}{%else%}Comment: {{reward.link[0:40]}}{%endif%}</a>
                    <p><i>Payment {{reward.until}}. Curation shares: {{reward.curation}} SP. {% if rewards.beneficiaries %}Beneficiaries: {{reward.beneficiaries}} SP.{% endif %} </i></p>

                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Total</th>
                          <th scope="col">Author</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>${{reward.total}}</td>
                          <td>
                              <table class="table">
                                <tr>
                                  <th scope="col">Total</th>
                                  <th scope="col">SBD</th>
                                  <th scope="col">SP</th>
                                  <th scope="col">USD</th>
                                </tr>

                                <td>${{reward.author}}</td>
                                <td>{{reward.sbd_amount}}</td>
                                <td>{{reward.sp_amount}}</td>
                                <td>{{reward.usd_amount}}</td>
                              </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                </div>
            </div>


               {% endfor %}

            </div>
        </div>
    </div>
    </div>
    </div>
    </div>


{% endblock %}
